/* Steven Montoya
CIS 166
Project 1 */

/* The intent of this css code is to style the webpages using color schemes, simple organizational sections, accessable to users to that all users are able to register and pay a fee to the company */


/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Set body background color and font */
body {
  background-color: #F0CB28;
  color: #000000;
  font-family: Arial, sans-serif;
}

/* Set header styles */
header {
  padding: 10px;
  text-align: center;
}

/* Set main content styles */
main {
  display: block;
  padding: 20px; /* space around the main element of the space */
}



/* Set footer styles */
background-color: #22BBE6;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {/* centers the heading in the sections */
	text-align: center;
}
