/* Steven Montoya
CIS 166
Project 1 */

/* The intent of this css code is to style the webpages using color schemes, simple organizational sections, accessable to users to that all users are able to register and pay a fee to the company */


/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Set header styles */
header {
  background-color: #22BBE6;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Set main content styles */
main {
  display: flex;
  flex-wrap: wrap; /* moves into new line when not enough space*/
  justify-content: space-between; /*  equal space between items */
  padding: 20px; /* space around the main element of the space */
}



section h2 {
  text-align: center;
  margin-bottom: 10px;
}


label {
  margin-bottom: 5px;
}

input,
select,
textarea {
  margin-bottom: 10px;
  padding: 5px;
}


/* Set footer styles */
footer {
  background-color: #22BBE6;
  color: #fff;
  padding: 10px;
  text-align: center;
}





