/* Steven Montoya
CIS 166
Project 1 */

/* The intent of this css code is to style the webpages using color schemes, simple organizational sections, accessable to users to that all users are able to register and pay a fee to the company */


/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Set header styles */
header {
  text-align: center;
}

/* Set main content styles */
main {
  padding: 20px; /* space around the main element of the space */
}



section h2 {
  text-align: center;
  margin-bottom: 10px;
}




/* Set footer styles */
footer {
  background-color: #22BBE6;
  color: #fff;
  padding: 10px;
  text-align: center;
}





